opencv-python~=4.5.4.60
numpy~=1.22.4
cvzone~=1.5.6
pip~=22.0.2
attrs~=21.2.0
wheel~=0.37.1
Brotli~=1.0.9
cryptography~=3.4.8
lxml~=4.8.0
Pillow~=9.0.1
Jinja2~=3.0.3
keyring~=23.5.0
setuptools~=59.6.0
future~=0.18.2